* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    padding: 20px;
}

.todo-container {
    max-width: 100%;
    width: 400px;
}

#todo-input {
    background-color: snow;
    border: 2px solid;
    border-radius: 5px;
    display: block;
    font-size: 2rem;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    width: 100%;
    margin-bottom: 30px;
}

#todo-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#todo-list li {
    border-bottom: 1px solid rgb(242, 242, 242);
    font-size: 20px;
    user-select: none;
    line-height: 2;
    padding-left: 10px;

}

.complete {
    color: rgb(155, 155, 155);
    text-decoration: line-through;
}

.completBtnVSpan {
    display: block;
}

li button {
    background-color: mintcream;
    width: 1.5rem;
    height: 1.5rem;
    margin: 10 px;
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

li:active {
    border: 2px solid grey;
}

.delete-btn-wrapper {
    margin-top: 1rem;
}

.delete-btn-wrapper button {
    font-weight: bold;
    background-color: antiquewhite;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border-radius: 5px;
}